node_modules
.DS_Store
cypress/videos/
cypress/screenshots/
cypress/reports/
allure-results/
allure-report/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.json
coverage/
dist/
build/
*.tgz
